
<img src="https://cdn.pixabay.com/photo/2012/04/14/15/37/cheeseburger-34315_1280.png" alt="Image of a cheeseburger from Pixabay" style="width: 20%; margin-left:40%;">
<br>


<div class="container">
	<div class="row">
		<div class="col-1"></div>
		<div class="col-5">
			{{#each burgerList}}
			<p>
			<div class="burger">{{id}}: {{name}} <button devourId="{{id}}" class="devour" style="float: right;" type="submit">Devour it!</button></div>
			</p>
			{{/each}}
		</div>
		<div class="col-1"></div>
		<div class="col-4">
			{{#each devouredList}}
			<p>
			<div class="burger">{{id}}: {{name}}</div>
			</p>
			{{/each}}
		</div>
		<div class="col-1"></div>
	</div>
</div>

<form action="/" method="POST">
	<h3>Enter a type of burger that you would like to eat:</h3>
	<textarea style="width: 30%;" type="text" name="name"></textarea>
	<br>
	<button class="add" type="submit">Add Burger!</button> <br>
</form>

<div class="delbutton"><button class="delete" type="submit">Delete the evidence!</button></div>

<script type="text/javascript">

$(".delete").on("click", function(event) {
	event.preventDefault();
	$.ajax("api/burgerList/", {
		type: "DELETE",
	}).then(
		function() {
			location.reload();
		}
	);
});


$(".devour").on("click", function(event) {
	event.preventDefault();
	let id = $(this).attr("devourId");
	$.ajax("api/burgerList/" + id, {
		type: "PUT",
	}).then(
		function() {
			location.reload();
		}
	);
});

</script>